.drawCircleBtn {
	margin: 20px;
}

#drawCircleBtn {
	margin: 20px;
}

.circleData {
	display: block;
	margin: 5px 20px;
	width: 50%;
}

.circleDataText {
	margin: 20px 0px 0px 20px;
};

.circle {
	border-radius: 50%;
	margin: 20px;
/*	width: 20mm;
	height: 20mm;
	background-color: green;*/
}